{{>head}}
<body id="post">
{{>header-nav}}
<script src='/static/javascripts/marked.min.js'></script>

{{#with post}}
	<div class="post">
		<div class="post-heading">
			<h2 class="post-title">{{title}}</h2>
		</div>
		<div class="post-excerpt">

			<span class="pull-right"><a href="#comments">{{comments.length}} 个评论</a></span>
		</div>

		<div class="post-content">
			<script type="text/plain" id="content">{{{content}}}</script>
		</div>

	</div>

<div id="" style="margin-top: 50px;">
	<h3>评论</h3>
	<hr>
	{{#each comments}}
		<div class="comment">
			<h5>
				<img src="{{author.avatar}}">
				<a href="/user/{{author.id}}">{{author.name}}</a>：</h5>
			<blockquote>{{content}}</blockquote>
		</div>
	{{/each}}
</div>
{{/with}}
<form>
	<div class="form-group">
		<textarea name="content" id="new-comment" class="form-control"></textarea>
		<div class="alert alert-danger" style="display: none;"></div>
	</div>

	<div class="form-group">
		{{#if user}}
			<a class="btn btn-primary" onclick="comment()">发布</a>
		{{else}}
			<a class="btn btn-primary" href="/login">登录</a>
		{{/if}}
	</div>
</form>

{{>foot}}
</body>
</html>